{% extends 'base.html.twig' %}

{% block body %}
    <p>Home</p>
    <form method="get" action="/">
        <input type="number" name="value-one">
        <select name="currency-one">
            <option>euros</option>
            <option>dollars</option>
        </select>
        <span>+</span>
        <input type="number" name="value-two">
        <select name="currency-two">
            <option>euros</option>
            <option>dollars</option>
        </select>
        <span>=</span>
        <span>{{ result }}</span>
        <button type="submit">Calculer</button>
    </form>
{% endblock %}